<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
    {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></head>#}
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css"></head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">DigiKala-test</a>
        </div>
        <ul class="nav navbar-nav">
            {% if user %}
                <li class="active"><a href="#">{{ user.email }}</a></li>
            {% endif %}
            <li class="active"><a href="/admin/product/index">Products</a></li>
        </ul>

    </div>
</nav>
<br><br><br><br>

<div class="container product-insert" product-id="{{ product.id }}">
    <form method="post" action="/admin/product/{{ product.id }}/update">
        <div class="form-group">
            <label for="title">title:</label>
            <input type="text" name="title" class="form-control" value="{{ product.title }}">
        </div>
        <div class="form-group">
            <label for="description">description:</label>
            <input type="textarea" name="description" class="form-control" value="{{ product.description }}">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
<hr>
<div class="container">
    <h3>add product variant here</h3>
    <br>
    <button type="button"  id="add-variant" class="btn btn-warning">new variant</button>
    <button type="button" id="update-variant" class="btn btn-success">update</button>
    <br>
    <br>
    <table id="variant-entry-table"  class="table table-striped table-condensed table-hover table-bordered no-footer center-text vertical-middle"
           style="font-size:12px">
        <thead>
        <tr class="heading">
            <th>color</th>
            <th>price</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        <tr class="hide clonable-row" variantId="-1">
            <td class="variantColor"><input class="form-control" type="text"></td>
            <td class="variantPrice"><input class="form-control" type="text"></td>
        </tr>
        {% set i=1 %}
        {% for variant in variants %}
            <tr class="priceRow" variantId="{{ variant.id }}">
                <td class="variantColor"><input class="form-control" type="text" value="{{ variant.color }}"></td>
                <td class="variantPrice"><input class="form-control" type="text" value="{{ variant.price }}"></td>
                <td class="actions"><button type="button" class="delete-variant btn btn-default btn-sm" variant-id="{{ variant.id }}"><span class="glyphicon glyphicon-remove"></span></button></td>
                {#</td>#}
            </tr>
            {% set i=i+1 %}
        {% endfor %}

        </tbody>
    </table>
</div>

<script src="/assets/plugins/jquery.min.js"></script>
<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/productEdit.js"></script>
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
<script>
    $(document).ready(function () {

        productEdit.init();
    })
</script>
</body>
</html>