<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
    {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></head>#}
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css"></head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">DigiKala-test</a>
        </div>
        <ul class="nav navbar-nav">
            {% if user %}
                <li class="active"><a href="#">{{ user.email }}</a></li>
            {% endif %}
            <li class="active"><a href="/admin/product/index">Products</a></li>
        </ul>

    </div>
</nav>
<br><br><br><br>
<div class="container">
    <a href="/admin/product/new"><button type="button" class="btn btn-success">create</button></a>
    <br>
    <br>
    <table id="products-table"  class="table table-striped table-condensed table-hover table-bordered no-footer center-text vertical-middle"
           style="font-size:12px">
        <thead>
        <tr class="heading">
            <th>id</th>
            <th>title</th>
            <th>description</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        <tr class="hide clonable-row">
            <td class="productId"></td>
            <td class="productTitle"></td>
            <td class="productDescription"></td>
            <td class="actions"></td>
        </tr>
        </tbody>
    </table>
</div>

<script src="/assets/plugins/jquery.min.js"></script>
<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/productIndex.js"></script>
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
<script>
    $(document).ready(function () {

        productIndex.init();
    })
</script>
</body>
</html>