<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css"></head>
    {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></head>#}
<body>


<div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">DigiKala-test</a>
            </div>
            <ul class="nav navbar-nav">
                {% if user %}
                    <li class="active"><a href="#">{{ user.email }}</a></li>
                {% endif %}
                <li class="active"><a href="/admin/product/index">Products</a></li>
            </ul>

        </div>
    </nav>
    <br><br><br><br>
<form method="post" action="/admin/product/create">
    <div class="form-group">
        <label for="title">title:</label>
        <input type="text" name="title" class="form-control" id="title">
    </div>
    <div class="form-group">
        <label for="description">description:</label>
        <input type="textarea" name="description" class="form-control" id="description">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>

<script src="/assets/plugins/jquery.min.js"></script>
<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>#}
<script>
    $(document).ready(function () {


    })
</script>
</body>
</html>