<!DOCTYPE html>
<html lang="fa">
{# BEGIN HEAD #}
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}digi_test{% endblock title %}</title>
    {% block stylesheets %}
        {% include 'MyTinyProjectBackendBundle:Common:stylesheets.html.twig' %}
    {% endblock %}

    {# BEGIN PAGE LEVEL PLUGIN STYLES #}
    {# END PAGE LEVEL PLUGIN STYLES #}

    {# BEGIN PAGE STYLES #}
    {# END PAGE STYLES #}
</head>
{# END HEAD #}


{# BEGIN BODY #}
<body >

{% include 'MyTinyProjectBackendBundle:Common:header.html.twig' %}

<div class="clearfix"></div>

{# BEGIN CONTAINER #}
<div class="page-container">

    {% include 'MyTinyProjectBackendBundle:Common:sidebar.html.twig' %}

    {# BEGIN CONTENT #}
    <div class="page-content-wrapper">
        <div class="page-content">

            {% block modals %}
                {% include 'MyTinyProjectBackendBundle:Common:modal.html.twig' %}
            {% endblock %}

            {# BEGIN PAGE TITLE #}
            <h3 class="page-title">{{ block('title') }}</h3>
            {# END PAGE TITLE #}

            <div class="row">
                <div class="col-md-12">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    {# END CONTENT #}

</div>
{# END CONTAINER #}

{% include 'MyTinyProjectBackendBundle:Common:footer.html.twig' %}


{% block javascripts %}
    {% include 'MyTinyProjectBackendBundle:Common:javascripts.html.twig' %}
{% endblock %}

</body>

</html>