<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css"></head>
{#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></head>#}
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">DigiKala-test</a>
        </div>
        <ul class="nav navbar-nav">
            {% if user %}
            <li class="active"><a href="#">{{ user.email }}</a></li>
            {% else %}
                <li class="active"><a href="/user/auth">login</a></li>
            {% endif %}
        </ul>

    </div>
</nav>
<br><br><br><br>
<div class="container">
    <div class="row section filters-section">
        <div class="container">
            <div class="row" style="padding-top: 20px">
                <div class="col-md-3">
                    <div class="col-md-6">
                    <input type="text" class="form-control " id="low-price-box" placeholder="Low price" >
                    </div>
                    <div class="col-md-6">
                    <input type="text" class="form-control " id="high-price-box" placeholder="High price" >
                    </div>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" id="color-box" placeholder="Color">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control " id="title-box" placeholder="Title or Description">
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="product-container row">
            <div class="hide clonable-div col-md-4">
                <div class="thumbnail">
                    <a href="#" target="_blank">
                        <img src="/assets/images/place-holder.jpg" alt="products" style="width:100%">
                        <div class="caption">
                            <h6></h6>
                            <p></p>
                            <div class="variants-div">

                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/plugins/jquery.min.js"></script>
<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/homePage.js"></script>
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>#}
<script>
    $(document).ready(function () {
        homePage.init();
    })
</script>
</body>
</html>