<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>admin panel</title>
    {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></head>#}
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css"></head>
<link rel="stylesheet" href="/assets/css/login.css"></head>
<body>

<div class="container">
    <div class="alert hide message-box">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <span class="errorMessage"></span>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12">
                            <a href="#" class="active" id="login-form-link">Login</a>
                        </div>
                        {#<div class="col-xs-6">#}
                            {#<a href="#" id="register-form-link">Register</a>#}
                        {#</div>#}
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="login-form" action="#" method="post" role="form" style="display: block;">
                                <div class="form-group">
                                    <input type="text" name="email" id="login-email" tabindex="1" class="form-control" placeholder="Email" value="">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="login-password" tabindex="2" class="form-control" placeholder="Password">
                                </div>
                                {#<div class="form-group text-center">#}
                                {#<input type="checkbox" tabindex="3" class="" name="remember" id="remember">#}
                                {#<label for="remember"> Remember Me</label>#}
                                {#</div>#}
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            {#<div class="text-center">#}
                                            {#<a href="https://phpoll.com/recover" tabindex="5" class="forgot-password">Forgot Password?</a>#}
                                            {#</div>#}
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/plugins/jquery.min.js"></script>
<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/login.js"></script>
<script src="/assets/js/adminLogin.js"></script>
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
<script>
    $(document).ready(function () {

        loginLogic.init();
    })
</script>
</body>
</html>